DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/SEU_ID/SEU_TOKEN
ERRORLOG_URL=https://993pix.com/errorlog.log
DRAKON_URL=https://993pix.com/callback/drakon.php
CASA_URL=https://993pix.com/
POLL_INTERVAL=5
